@import url('reset.css');
@import url('button.css');
body {
    font-size: 16px; 
    font-family: 'Roboto';
    min-width: 360px;
}


#fullpage-menu{
    position: fixed;
    right: 0;
    top:50%;
    z-index: 100;
}

#fullpage-menu li{
    text-align: right;
    height: 30px;
}

#fullpage-menu li button{
    text-align: left;    
    overflow: hidden;
    background-color: #444;
    color: #fff;
    border: none;
    max-height: 10px;
    max-width: 10px;
    border-radius: 5px;
    margin: 10px 5px;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
#fullpage-menu li button>span{
    padding-left: 10px; 
    transition: all 0.5s ease-in-out;
}
#fullpage-menu li.active button{
    max-height: 26px;
    margin: 2px 5px;
}
#fullpage-menu li:hover button{
    max-height: 100px;
    max-width: 100px;
    margin: 5px 5px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}
#fullpage-menu li:hover button>span{
    padding-left: 0; 
    transition: all 0.5s ease-in-out;
}


.section{
    padding: 30px;
}

.section .section-content{
    border: 1px solid lightgrey;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    padding: 0.2em 1em 3em 1em;
    position: relative;
}

.section .section-content .btn-show-next{
    border: none;
    content: '';
    width: 62px;
    height: 62px;
    border-radius: 50%;
    position: absolute;
    display: block;
    bottom: -31px;
    left: calc(50% - 31px);
    background-color: #fff;
    cursor: pointer;
} 
.section .section-content .btn-show-next>span{
    display: none;
} 

.section .section-content .btn-show-next:before{
    border: 1px solid lightgrey;
    color: lightgray;
    content: "\f107";
    font-family: 'FontAwesome';
    font-size: 4em;
    font-weight: lighter;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 5px;
    left: 5px;
} 
.section .section-content .btn-show-next:hover:before{
    background-color: rgba(0, 0, 0, 0.05);

}
.section .section-title{
    background: #fff;
    color: lightgrey;
    display: inline-block;
    font-size: 2em;
    margin-top: -0.7em;
    padding: 0.2em 1em;
}

.photo img{
    width: 200px;
    border-radius: 50%;
    
}

/* Competences */
#competences{
}
#competences .simple-list >li{
    margin-bottom: 10px;
}
#competences .simple-list >li>p{
    font-weight: 600;
}
#competences .float-list{
    margin: 0 auto;

}
#competences .float-list > li{
    display: inline-block;
    padding: 4px;
    margin: 0 2px;
    border: 1px solid lightgrey;
}

/* Experiences */
#experiences{
}
#experiences .job + .job{
    margin-top: 20px;
}

#experiences .job .title,
#experiences .job .employer{
    display: inline-block
}

#experiences .job .title {
    font-weight: 600;
}

#experiences .job .title::after {
    content: ' - ';
    display: inline;
}

#experiences .job .description {
    text-align: justify;
    color: #444;
}
/* Scholarship */ 
#scholarship{
} 
#scholarship .school + .school{
    margin-top: 20px;
}
#scholarship .school .course{
    font-weight: 600;
}


/* Contact */
#contact{
}
#contact p{
    padding: 5px;
}
#contact .linkedin-link::before{
    content: "\f08c";
    font-family: 'FontAwesome';
    font-size: 1em;
    display: inline;
    text-decoration: none;
    color: #0077b5
}

.back-to-top{
    margin: 0 auto;
    margin-top: 100px;
}